*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
body{
  background-image: url(https://images.unsplash.com/photo-1510531704581-5b2870972060?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  background-size: 100%;
}

.studentProfile{
  height: 200px;
  width: 200px;
  padding: 40px;
  position: absolute;
  top: 10%;
  left: 36%;
  background: #2c3e50;
  border-radius: 8px;
  text-align: center;
  margin: 50px;
}
.studentProfile h1 {
  font-size: 1em;
  position: relative;
  border:0;
  background: none;
  margin: 10px;
  display: block;
  text-align: center;
  border: 2px solid #3498db;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition:  0.25s;
}
.studentProfile h1:hover{
  background: #2ecc71;
}
.profileImg{
  position: relative;
  left: 20%;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: url(https://www.w3schools.com/howto/img_avatar2.png);
  background-size: 100%
}
.middle{
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 15px;
}
.menu{
  width: 500px;
  border-radius: 8px;
  overflow: hidden;
}
.item{
  border-top: 1px solid #130f40;
  overflow: hidden;
}

.btn{
  display: block;
  padding: 16px 20px;
  background: #2c3e50;
  color: white;
  position: relative;
}
.btn:hover{
  background: #3498db;
}
.btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #2ecc71;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btn i{
  margin-right: 10px;
}
.smenu{
  background:#7f8c8d;
  overflow: hidden;
}
.smenu input[type = "text"]{
  text-align: center;
  position: absolute;
  left: 50%;
}
.smenu a{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background:#2ecc71;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu a:hover:before{
  opacity: 1;
}
.item:target .smenu{
  max-height: 10em;
}
.smenu input[type = "submit"]{
  position: absolute;
  top: 100%;
  left: 50%;
  border:0 ;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition:  0.25s;
  cursor: pointer;
}
.smnenu input[type = "submit"]:hover{
  background: #2ecc71;
}
